@import './global.scss';

// * {
//     background-color: gainsboro !important;
// }

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
a:visited,
a:hover {
    color: #444;
    text-decoration: none;
    font-weight: 500;
}

.header-wrapper {
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;

    .header {
        position: sticky;
        top: 0;
        display: flex;

        margin: 0 auto;
        width: $width;
        max-width: $maxwidth;

        .logo {
            font-weight: bold;
        }

        .home-button {
            margin-left: auto;
        }

        @include mobile {
            width: calc(100% - 2rem);
            max-width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.hello {
    width: $width;
    max-width: $maxwidth;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include mobile {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.post-items {
    width: $width;
    max-width: $maxwidth;
    margin: 0 auto;

    .post-item {
        margin-bottom: 2rem;

        .post-title {
            margin-bottom: 0.25rem;
        }

        .post-meta {
            margin-bottom: .5rem;
            font-size: 0.8rem;
            color: $lighter-text-color;
        }
    }

    @include mobile {
        width: 100%;
        max-width: calc(100% - 2rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}